[Unit]
Description=pwngrid peer daemon
After=network.target

[Service]
Type=simple
# First Boot Check: Natively generate unique keys on the device if missing
ExecStartPre=/bin/bash -c '[ -f /etc/pwnagotchi/id_rsa ] || /usr/bin/pwngrid-peer -generate -keys /etc/pwnagotchi'
ExecStart=/usr/bin/pwngrid-peer -keys /etc/pwnagotchi -run
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
