[Unit]
Description=Run the memory-clear restart every 20 minutes

[Timer]
OnBootSec=20min
OnUnitActiveSec=20min
Unit=pwnagotchi-memory-clear.service

[Install]
WantedBy=timers.target
